/* 一番上のナビゲーション大枠 ➡　その中にロゴとメニューの配置を入れる*/
.nav {
    display: flex; /* ← 横ならびにする魔法 */
    justify-content: space-between; /* 横並びにロゴマークとメニューの間にスペースを入れる */
}

.header_logo {
    text-align: left;
    padding: 10px;
    border: 10px;  /* ← borderをつけるときの意味は何？ */
    margin: 10px;
}

/* div class="header_div"の部分 L32 */
.header_div{
    text-align: right;
    display: flex;
    padding: 10px;
    margin: 10px;
}
/* id="menu"の部分 L33 */
/* L32とL33の違いはわからない　➡　同じ内容なのに＃menuの方が優先される？ */ 
#menu{
    text-align: right;
    display: flex;
    margin: 16px;
    font-size: 16px;
}

/* テキスト文字の色を変更する */
.blue-text{
    color: blue;
    margin: 15px;
}

.mainbg{
    position: relative;

}

.mainbg img{
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* メインビジュアル中のテキストのカスタマイズ */
.mainbg .text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

/* “セカイを変えるチーズを作ろう”のカスタマイズ */
.h1{
    font-size: 30px;
    font-style: normal;
    margin-bottom: 10px;
}

/* チーズ職人養成学校「チーズアカデミーTOKYO」のカスタマイズ */
.p1{
    font-size: 18px;
    font-style: normal;
    margin-bottom: 10px;
}

.four_picture{
    width: 100%;
}

.four_picture img{
    width: 100%;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.yellow {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #f2d604;

}

.container {
    text-align: center;
    padding-bottom: 10px;
}

.sub {
    text-align: center;
    padding-bottom: 10px;
}

.h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sub_two {
    text-align: center;
    padding-bottom: 20px;
}

.card {
    text-align: center;
    padding-bottom: 10px;
}

.feature {
    display: flex;
}

.feature img{
    width: 50%;
}

.feature .txt {
    padding: 20px;
    text-align: center;
}

.news-grid {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.news-grid .news-card {
    padding: 10px;
}



.submit {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.footer {
    background-color: #585757;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}